<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes local</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    
    <div id="componentes">
      <div class="container">
        
        <text-render text="Hcode Treinamentos"></text-render>
        
        <hr>

        <list></list>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

      Vue.component('text-render', {
        props: ['text'],
        template: `
          <div>
            <h4>{{ text }}</h4>
          </div>
        `
      });

      /* Vue.component('list-component', {
        template: `
          <ul>
            <li v-for="person in names">{{ person }}</li>
          </ul>
        `,
        data: function() {
          return {
            names: ['João Rangel', 'Djalma Sindeuax', 'Glaucio Daniel']
          }
        }
      }) */

      let listItemComponent = {
        props: ['name'],
        template: '<li>{{ name }}</li>'
      }

      let listComponent = {
        template: `
          <ul>
            <list-item v-for="person in names" :name="person"></list-item>
          </ul>
        `,
        data: function() {
          return {
            names: ['João Rangel', 'Djalma Sindeuax', 'Glaucio Daniel']
          }
        },
        components: {
          listItem: listItemComponent
        }
      }

      let app = new Vue({
        el: '#componentes',
        data: {
          
        },
        components: {
          list: listComponent
        }
      })

    </script>

  </body>
</html>