<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas: v-for</title>
  </head>
  <body>
    
    <div id="directives">
      
      <h2>Cidades do mundo</h2>
      <ol>
        <!-- <li v-for="city in cities">{{ city }}</li> -->
        <li v-for="item in cities">
          {{ item.city }} - {{ item.country }}
        </li>
      </ol>

      <h2>Grandes Filmes da História</h2>
      <ul>
        <li v-for="(picture, index) in movies">
          {{ index }}. {{ picture }}
        </li>
      </ul>

      <h2>Empresa</h2>
      <p v-for="(value, key, index) in company">{{ key }}: {{ value }}</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

    <script>

      let app = new Vue({
        el: '#directives',
        data: {
          // cities: ['São Paulo', 'Londres', 'Rio de Janeiro', 'Nova York']
          cities: [{
            city: 'Nova York',
            country: 'EUA'
          }, {
            city: 'São Paulo',
            country: 'Brasil'
          }, {
            city: 'Londres',
            country: 'Inglaterra'
          }, {
            city: 'Rio de Janeiro',
            country: 'Brasil'
          }],
          movies: ['Star Wars', 'Jurassic Park', 'De Volta para o Futuro'],
          company: {
            name: 'Facebook',
            year: 2004,
            creator: 'Mark'
          }
        }
      })

    </script>

  </body>
</html>